.mainPanel {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;

  ul {
    padding-left: 0;

    li {
      width: 100%;
      display: flex;
      gap: 20%;
      list-style: none;
      justify-content: center;
    }
  }

  .chart {
    text-transform: uppercase;
  }
}